html {
    font-size: 1.125rem;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root {
    --Soft_blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Very_dark_blue_mg: hsl(217, 54%, 11%);
    /*(main BG)*/
    --Very_dark_blue_cb: hsl(216, 50%, 16%);
    /*(card BG)*/
    --Very_dark_blue: hsl(215, 32%, 27%);
    /*(line) */
    --White: hsl(0, 0%, 100%);

    --card-paddingX: 1rem;
    --card-paddingY: 2rem;
}

body {
    background-color: var(--Very_dark_blue_mg);
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3125rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.3rem;
    margin-top: 1rem;
    letter-spacing: 1px;
    margin-bottom: 0.8125rem;
}

p {
    font-weight: 300;
    color: var(--Soft_blue);
    margin-bottom: 0.8125rem;
}

.card {
    width: 350px;
    margin-top: 1.5rem;
    background-color: var(--Very_dark_blue_cb);
    padding: var(--card-paddingY) var(--card-paddingX);
    border-radius: 1rem;
}

.card {
    box-shadow: 0 0 10px 25px hsla(216, 50%, 16%, 0.3);
}

.card-body {
    color: var(--White);
}

.img-container {
    width: 100%;
    border-radius: 0.8rem;
    overflow: hidden;
}

img[alt="Equilibrium"] {
    width: 100%;
    /* object-fit: cover; */
    /* object-fit: contain; */
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-ethereum {
    color: var(--Cyan);
    display: flex;
    align-items: center;
}

.clock {
    display: flex;
    align-items: center;
    color: var(--Soft_blue);
}

hr {
    color: var(--Very_dark_blue);
    margin: 0.9rem 0;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar {
    font-size: 0.89rem;
}

.creation {
    color: var(--Soft_blue);
    margin-left: 0.4rem;
}

.avatar img {
    width: 15%;
    border-radius: 100%;
    border: 1px solid var(--White);
}

span {
    font-size: 0.9rem;
    font-weight: 400;
    padding-left: 0.5rem;
}

footer {
    font-size: 0.6875rem;
    text-align: center;
    margin-bottom: 0.7rem;
}